.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  transition: all 0.3s ease;
  width: 120px;
  text-align: center;
}

.button--outline-white {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.button--outline-white:hover {
  background-color: white;
  color: #333;
}