.header {
  background-image: url('src/assets/images/header-bg/house.jpg');
  background-size: cover;
  background-position: center;
  /* min-height: 100vh; */
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 63px 50px 200px;
  position: relative;
}

/* .header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
} */

.header__top {
	max-width: 1140px;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
  margin-bottom: 111px;
	margin-left: auto;
  margin-right: auto;
}

.header__nav {
  /* flex: 1; */
}

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px; 
}

.header__nav-item {
  display: flex;
  align-items: center;
}

.header__nav-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  position: relative;
}

.header__nav-link:hover {
  color: #d2b48c;
}

.header__hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  position: relative;
}

.header__hero-content {
  padding: 0 20px;
}

.header__hero-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.header__hero-divider {
  margin-bottom: 29px;
}

.header__hero-divider-icon {
  vertical-align: middle;
	width: 200px;
}

.header__hero-subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.header__hero-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.header__hero-button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
	line-height: 30px;
  transition: all 0.3s ease;
	width: 120px;
}

.header__hero-button:hover {
  background-color: white;
  color: #333;
}

/* Адаптивність */
@media (max-width: 768px) {
  .header {
    padding: 65px 20px 150px;
		 min-height: 100vh;
  }

	.header__top {
		justify-content: center;
	}

  .header__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .header__nav-item {
    margin-left: 0;
  }

  .header__nav-link {
    font-size: 16px;
  }

	.header__nav-link--logo::before {
    width: 30px;
    height: 30px;
  }

  .header__hero-title {
    font-size: 30px;
  }

  .header__hero-subtitle {
    font-size: 18px;
  }

  .header__hero-description {
    font-size: 16px;
  }
}